<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/img/weather.png" type="image/x-icon">

    <title>About us</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <img src="/img/my.jpg" class="my-image" />
        <p class="intro-text">I'm Prasath Ravichandran, Full stack developer. I designed this weather forecasting
            application with Node.js, Express.js integrated with some third-party API. This
            application features getting forecast information based on the searched location.</p>
        <p>The full project is avaliable in the <a href="https://github.com/PrasathRavichandran/weather_forecast_nodejs" target="_blank">GitHub!</a></p>
    </div>
    {{>footer}}
</body>

</html>