<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/img/weather.png" type="image/x-icon">

    <title>Help</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p style="line-height: 1.6;">By using this weather forecast application, the user can get the forecast information for the searched location.</p>
        <p><b>How to use this application?</b></p>
        <ul>
            <li>Open the application.</li>
            <li><a href="/">Click here to open the weather forecast search page!</a></li>
            <li>Then, type your location (For eq: Boston, Chennai, etc) and click search.</li>
            <li>You will get the forecast information for the searched location.</li>
            <li>If the entered location is invalid, the forecast application shows error message.</li>
        </ul>
    </div>

    {{>footer}}
</body>

</html>